*{
    margin: 0;
    /* border: 1px solid black; */
}


.wrapper{
    border: 1px solid black;
    text-align: center;
}
/* ======== flex ============ */
.flex{
    height: 100px;
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-content: center; */
    /* align-content: flex-end; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /*============ в колнку========== */
    /* flex-direction: column; */
}
.flex div{
    width: 120px;
    height: 30px;
    background-color: burlywood;
    margin:1px;
}
.flexCenter{
    justify-content: center;
    /* flex-direction:row; */
    /* align-items:center; */
}
.flexStart{ 
    justify-content: flex-start;   
}
.flexEnd{
    justify-content: flex-end;
}
.spaceBeatween{
    justify-content: space-between;
}
.spaceAround{
    justify-content: space-around;
}
.spaceEvenly{
    justify-content: space-evenly;

}
/* ===================== */

#overflow-element {
    width: 170px;
    height: 170px;
    border: dotted;
    padding: 0.75em;
    text-align: left;
}

/* ========= position ======== */
    /*====== position: relative ======== */
.square{
    margin: 2rem;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    /* top: 20px; */
}
.round{
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    /* position: absolute; */
    /* top: 0; */
}
/* ============= sticky =========== */
.sticky{
    width: 90px;
    height: 90px;
    background-color: brown;
    position: sticky;
    top: 30px;
    left: 30px;
    z-index: 1;
}
.block{
    text-align: center;
    font-size: larger;
    color: aliceblue;
    width: 20%;
    height:500px;
    border: 1px solid black;
    /* position: relative; */
}
.block2{
    width: 30%;
    height: 500px;
    border: 1px solid;

}
/* =========== fixed =========== */
.footer{
    width: 100%;
    padding: 60px;
    background-color: cadetblue;
    position: fixed;
    bottom: -30px;
    z-index: 2;
}
